html {
    height: 100%;
    margin-bottom: 0%;
    display:grid;
    margin-left: -3px;
}
header {
    background-color: rgb(86, 103, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100px;
}
body {
    min-height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}
.flexbox {
    display: flex;
}
ul {
    display: flex;
}
a {
    text-decoration: none;
}
img {
    border-radius: 10px;
}
a.black{
    color:black
}
.centro{
    font:Verdana;
    font-size: large;
    text-align: center;
}
div.box {
    width: 200px;
    height: 320px;
    margin-left: 40px;
    border-radius: 10px;
}
div.espaço {
    display: flex;
    margin-top: auto;
}
div.centro {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
div.lado {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
h3 {
    margin-bottom: 0%;
}
p {
    margin-top: 0%;
    text-align: start;
}
.grid-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid-form {
    width: auto;
    height: auto;
}
.infobox {
    width: 250px;
    height: 370px;
    padding: 5px 5px 5px 5px;
}
#botao {
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    background-color: lavender;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    margin-left: 10px;
    height: 15px;
}
#botao a {
    color: black;
}
.logo{
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
}
.logo a {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#formulario{
    text-align: center;
    background-color: rgba(86, 103, 255, 0.547);
    height: 600px;
    width: 400px;
    margin-left: 20px;
    margin-top: -20px;
}

    margin-bottom: 0%;
}
p {
    margin-top: 0%;
}
